@import url('https://fonts.googleapis.com/css2? familia=Montserrat:wght@400;500&familia=Roboto+Mono&display=swap');

:root {

    --bg-color: #181717;
    --red: #ee000c;
    --white: #FFFFFF;
    --gradient: linear-gradient(90deg, #181717 0%, #ee000c 100%);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: black;
}

body::-webkit-scrollbar {
    width: 8px;
    background: var(--bg-color);
}

body::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 15px;
}

header {
    background: var(--bg-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0px 10px 0px 10px;
    position: fixed;
    top: 0px;
    z-index: 999;
}

.header-list {
    color: white;
    font-size: 35px;
    font-weight: 800;
}


.logo {
    height: 60px;
    padding-right: 85px;
}

.navbar,
.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-list a {
    color: white;
    font-size: 14px;

}

.navbar-list a:hover {
    color: red;
}

.navbar {
    gap: 90px;
}

.navbar-list {
    gap: 25px;
}

.navbar-list li:first-child>a {
    color: white;
    font-weight: 600;
}

/*carrito y menu hamburguesa */

.cart-icon {
    color: white;
    font-weight: 600;
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    height: 25px;
    right: 15px;
    margin-top: 25px;
    margin-bottom: 40%;
    position: relative;
    height: 24px;
}

.cart-icon:hover {
    color: red;
}


.cart-bubble {
    position: absolute;
    text-align: center;
    background: var(--white);
    color: var(--red);
    font-size: 10px;
    font-weight: 700;
    left: 8px;
    bottom: 20px;
    height: 16px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid black;
}

.cart {
    position: absolute;
    top: 65px;
    right: 0;
    padding: 50px 30px;
    background: var(--gradient);
    border-left: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: calc(100vh - 65px);
    overflow-y: scroll;
    display: flex;
    z-index: 2;
    transform: translate(200%);
}

.cart-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart::-webkit-scrollbar {
    width: 7px;
}

.cart::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

.cart h2 {
    display: flex;
    justify-content: center;
    color: var(--white);
    font-size: 16px;
    font-weight: 600;
}


.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: black;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

.cart-item img {
    width: 45px;
    height: 45px;
}

.item-info {
    display: flex;
    flex-direction: column;
    min-width: 100px;
}

.item-title {
    color: var(--white);
    font-size: 12px;
    font-weight: 600;
}

.item-price {
    background: var(--white);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 12px;
    font-weight: 700;
}

.item-handler {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.quantity-handler {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 5px 5px;
    color: white;
    font-weight: 300;
    transition: all 0.2s ease-in;
}

.item-quantity {
    font-size: 13px;
    font-weight: 500;
    color: white;
}

.down {
    border: 1px solid;
    cursor: pointer;
}

.up {
    border: 1px solid;
    cursor: pointer;
}

.divider {
    margin-top: 2px;
    border: 0.5px solid black;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.cart-total p {
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.btn-comprar,
.btn-borrar {
    background: linear-gradient(90deg, rgba(4, 4, 4, 1) 0%, rgba(0, 0, 0, 1) 52%, rgba(235, 5, 5, 1) 100%);
    color: white;
    padding: 6px 0px;
    border: 1px solid black;
    font-size: 14px;
    font-weight: 600;
    border-radius: 25px;
    cursor: pointer;
}

.cart-total span {
    color: white;
    font-weight: 500;
    font-size: 16px;
}


.open-cart {
    transform: translate(0%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.empty-msg {
    color: var(--white);
    font-size: 14px;
}

.menu-label {
    display: none;
}

.menu-icon:hover {
    background-color: red;
}

/*Foto portada*/

.portada img {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    width: 100%;
}


main {
    margin-top: 80px;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}



/*Info*/

.titulo1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    font-weight: 800;
    color: white;
}


#info {
    padding: 85px 0px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
}

.nosotros {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 100px;
}


.nst {
    color: white;
    width: 350px;
    height: 350px;
    padding: 45px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 30px;
    border: 2px solid white;
    gap: 20px;
}

.nst i {
    font-size: 2rem;
    gap: 15px;
}


.nst h3 {
    font-weight: 800;
    font-size: 20px;
    background-clip: text;
    -webkit-background-clip: text;
}

.nst p {
    font-size: 17px;
    font-weight: 500;
    color: white;
}



/*footer*/

footer {
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 0;
}

footer a,
footer p {
    color: var(--white);
    text-align: center;
    font-weight: 600;
    font-size: 13px;
}

footer a:hover {
    color: var(--red);
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.redsocial {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.instagram {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.whatsapp {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.maps {
    height: 30px;
    width: 30px;
    cursor: pointer;
}


/*estilos tablas, rolls, hotrolls*/

#products {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 25px 0;
    max-width: 1200px;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 45px;
}

.product img {
    width: 375px;
    height: 300px;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.product-mid,
.product-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.product-top h2 {
    color: white;
    font-size: 18px;
    font-weight: 700;
    gap: 5px;
}

.product-top p {
    color: white;
    font-size: 15px;
    font-weight: 500;
    margin-top: 3px;
}


.product-mid span {
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.btn-agregar {
    background: var(--gradient);
    border: none;
    padding: 5px 50px 10px 50px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.btn-agregar:hover {
    background: black;
}



/*categorias*/

.categories {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
    margin-top: 45px;
}


.category {
    background: var(--gradient);
    border: none;
    padding: 10px 25px;
    margin-left: 50px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border-radius: 30px;
    cursor: pointer;
}

.category:hover {
    background: var(--bg-color);
}

.todos {
    background: var(--red);
}


.btn-ver {
    background: linear-gradient(90deg, rgba(4, 4, 4, 1) 0%, rgba(0, 0, 0, 1) 52%, rgba(235, 5, 5, 1) 100%);
    color: var(--white);
    width: 100px;
    padding: 10px 10px;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 30px;
}

.btn-ver:hover {
    background: var(--bg-color);
    cursor: pointer;
}

.hidden {
    display: none;
}


.disabled {
    background-color: var(--text-gray);
    color: white;
    cursor: not-allowed;
    border: none;
}

.disabled:hover {
    background-color: var(--text-gray);
    color: white;
    cursor: not-allowed;
    border: none;
}

.add-modal {
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--red);
    position: fixed;
    bottom: 0;
    width: 100%;
    font-weight: 600;
    transition: all 0.5s ease-out;
    transform: translateY(200%);
}

.active-modal {
    transform: translateY(0);
    transition: all 0.5s ease-in;
}


/*estilos para formulario de registro*/

.form-register {
    width: 400px;
    background: var(--gradient);
    padding: 30px 45px;
    margin-top: 40px;
    border-radius: 40px;
    text-align: center;
    color: white;
    margin-bottom: 40px;
    box-shadow: rgba(253, 55, 55, 0.56) 0px 22px 70px 4px;
}

.form-register h3 {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}

.registro {
    width: 100%;
    background: var(--gradient);
    color: white;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 14px;
    border: 1px solid;
    font-size: 16px;
    font-weight: 500;
}

.form-register p {
    margin-bottom: 5px;
    text-align: center;
    font-size: 14px;
}

.form-register a {
    color: var(--white);
    font-weight: 600;
}

.form-register a:hover {
    color: black;
    text-decoration: underline;
}

.enviar {
    width: 100%;
    background: var(--bg-color);
    border-radius: 30px;
    border: none;
    padding: 12px;
    color: white;
    margin-bottom: 25px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.enviar:hover {
    background: red;
}

.form-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.form-parent.error input {
    border: 1px solid red;
}

.form-parent small {
    color: white;
    max-width: 350px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
}

.form-parent.success input {
    border: 1px solid #28a745;
}


/*formulario iniciar sesion*/

.register {
    width: 400px;
    background: var(--gradient);
    padding: 55px 45px;
    margin-top: 45px;
    border-radius: 40px;
    text-align: center;
    color: white;
    margin-bottom: 45px;
    box-shadow: rgba(253, 55, 55, 0.56) 0px 22px 70px 4px;
}


.register h3 {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}


.loguin {
    width: 100%;
    background: var(--gradient);
    color: white;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 14px;
    border: 1px solid;
    font-size: 16px;
    font-weight: 500;
}

.register p {
    margin-bottom: 5px;
    text-align: center;
    font-size: 14px;
}

.register a {
    color: var(--white);
    font-weight: 600;
}

.register a:hover {
    color: black;
    text-decoration: underline;
}

.ingresa {
    width: 100%;
    background: var(--bg-color);
    border-radius: 30px;
    border: none;
    padding: 12px;
    color: white;
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.ingresa:hover {
    background: red;
}

.cuenta {
    background: white;
    cursor: pointer;
    transition: all 0.2s ease-out;
    margin-right: 45px;
}

.cuenta:hover {
    background: red;
}

.loguin-valid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.loguin-valid.error input {
    border: 1px solid red;
}

.loguin-valid small {
    color: white;
    max-width: 350px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
}

.loguin-valid.success input {
    border: 1px solid #28a745;
}

/*formulario contacto*/

/*formulario contacto*/

.contactenos {
    width: 400px;
    background: var(--gradient);
    padding: 50px 45px;
    margin-top: 45px;
    border-radius: 40px;
    text-align: center;
    color: white;
    margin-bottom: 45px;
    box-shadow: rgba(253, 55, 55, 0.56) 0px 22px 70px 4px;
}


.contactenos h3 {
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
}


.contacto {
    width: 100%;
    background: var(--gradient);
    color: white;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 14px;
    border: 1px solid;
    font-size: 16px;
    font-weight: 500;
}

.envia {
    width: 100%;
    background: var(--bg-color);
    border-radius: 30px;
    border: none;
    padding: 12px;
    color: white;
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.envia:hover {
    background: red;
}

.cuenta {
    background: white;
    cursor: pointer;
    transition: all 0.2s ease-out;
    margin-right: 45px;
}

.cuenta:hover {
    background: red;
}

.contacto-valid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.contacto-valid.error input {
    border: 1px solid red;
}

.contacto-valid small {
    color: white;
    max-width: 350px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
}

.contacto-valid.success input {
    border: 1px solid #28a745;
}

.contacto-input {
    width: 100%;
    background: var(--gradient);
    color: white;
    border-radius: 20px;
    border: 1px solid;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 35px;
}

textarea {
    resize: none;
    overflow: hidden;
}
