html {
    scroll-behavior: smooth;
    scroll-padding-top: 75px;
}

.overlay {
    position: absolute;
    top: 75px;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;

    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: none;
}

#cart-toggle:checked~.overlay {
    display: block;
}

#menu-toggle:checked~.overlay {
    display: block;
}

.navbar-list li {
    position: relative;
    padding: 0;
}

.navbar-list li a::after {
    content: "";
    height: 2px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transform: transform 0.15s ease;
}

.navbar-list li a:hover::after {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.cart-icon:hover {
    border-color: red;
    transition: all 0.2s ease-in;
}

.quantity-handler:hover {
    cursor: pointer;
    background-color: red;
    transition: all 0.2s ease-in;
}

.ver a:hover,
.btn-agregar:hover,
.btn-add:hover,
.enviar,
.ingresar {
    background-color: black;
    transition: all 0.2s ease-in;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(100px);
    }

100% {
    transform: translateY(0);
}
}

@keyframes slide-right {
from {
    transform:translateX(100px);
}

to {
    transform: translateX(0);
}
}

.header-list {
    animation: fade 1s ease-in, slide-up 1s ease-in-out;
}

#products {
    opacity: 0;
    animation: fade 0.8s ease-in forwards, slide-up 1.8s ease-out;
    animation-delay: 0.3s;
}

.salmon-roll {
    animation: fade 1s ease-in forwards, slide-up 1.3s ease-in-out;
}

.salmon-info,
.text { 
    animation: fade 0.8s ease-in forwards, slide-right 0.9s ease-in-out;
}

.salmon-text,
.text1 {
    opacity: 0;
    animation: fade 0.9s ease-in forwards, slide-up 1.2s ease-in-out;
}

#rolls h3,
#contenido h1{
    animation: fade 0.8s ease-in forwards, slide-up 1s ease-in-out;
}

.rolls2 img, 
.product img,
.container img,
.hotrolls img{
    transition: all 0.3s linear;
}

.rolls2 img:hover,
.product img:hover,
.container img:hover,
.hotrolls img:hover {
    transform: scale(1.02);
    transition: all 0.3s linear;
}

.ver {
    animation: fade 0.8s ease-in forwards, slide-up 1.3s ease-in-out;
}

@keyframes blink {
    to {
        background: transparent;
        opacity: 0;
    }
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

.header-list span {
    position: relative;
    background: white;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.header-list span::before,
.header-list span::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.header-list span::before {
    background-color: var(--bg-color);
    animation: typewriter 1.2s 1.4s steps(5) forwards;
}

.header-list span::after {
    width: 0.1rem;
    background: var(--bg-color);
    animation: typewriter 1.2s 1.4s steps(5) forwards, blink 0.8s steps(5) infinite;
} 

.loguin:hover,
.registro:hover {
    transform: scale(1.02);
    transition: all 0.3s linear;   
}

.register p:hover,
.form-register p:hover {
    transform: scale(1.02);
    transition: all 0.1s linear;
}

.cuenta:hover {
    background-color: red;
    transition: all 0.2s ease-in;
}

.category:hover, 
.category1:hover {
    background: black;
    transition: all 0.3s ease-in-out;
}