/*Tablets */

@media (max-width: 992px) {
    .navbar {
        gap: 10px;
    }

    .cart-icon {
        border: 0px solid;
        height: 22px;
        margin-left: 3px;
        background: red;
        border: 1px solid black;
    }

    .logo {
        display: none;
    }


    .header-list {
        margin-left: 5px;
    }

    .navbar-list {
        position: absolute;
        top: 65px;
        width: 100%;
        flex-direction: column;
        background-color: black;
        border: 1px solid red;
        border-top: none;
        border-radius: 0px 0px 15px 15px;
        align-items: flex-start;
        padding: 45px 30px;
        gap: 25px;
        z-index: 2;
        display: none;
    }

    .navbar-list a {
        font-size: 16px;
    }

    .menu-label {
        display: flex;
        background: red;
        border: 1px solid black;
        order: 2;
        cursor: pointer;
    }

    #menu-toggle:checked+.navbar-list {
        display: flex;
    }

    .menu-label img {
        width: 25px;
        height: 25px
    }

    .categories {
        flex-wrap: wrap;
        max-width: 400px;
    }

    .category {
        padding: 15px 15px;
    }

    .salmon-info {
        display: none;
    }

    .salmon-roll {
        width: 100%;
        gap: 20px;
        justify-content: center;
    }


    .text {
        display: none;
    }


    #rolls h3 {
        text-align: center;
        width: 80%;
    }

    #rolls {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .info1 {
        max-width: 80%;
    }

    .rolls2 {
        flex-direction: column;
        align-items: center;
    }

    .rolls2 img {
        flex-direction: column;
    }

    .cuenta {
        display: none;
    }

    .form-register,
    .register {
        justify-content: center;
    }


}

/*Celulares*/

@media (max-width: 576px) {

    .cart {
        left: 0;
        width: 100%;
        border: none;
    }

    .cart-icon {
        height: 22px;
    }

    .cart-item {
        flex-wrap: wrap;
    }

    .header-list {
        color: white;
        margin-left: 5%;
        font-size: 35px;
    }

    .category {
        padding: 10px 10px;
    }

    .salmon-roll {
        width: 90%;
        max-width: unset;
    }

    #rolls {
        width: 80%;
    }

    #rolls h3 {
        font-size: 20px;
        width: 100%;
    }

    .rolls2 p {
        width: 100%;
        padding: 10px;
        line-height: 30px;
        gap: 50px;
    }

    .ver {
        font-size: 20px;
    }

    .footer-links {
        flex-direction: column;
        text-align: center;
    }

    #contenido h1 {
        font-size: 25px;
    }

    .products-container {
        width: 80%;
    }

    .product {
        width: 80%;
    }

    .product-top h3,
    .product-mind span {
        font-size: 15px;
        font-weight: 300;
    }

    /*estilo para formulario de registro*/

    .form-register,
    .register {
        width: 80%;
        max-width: unset;
    }

    .form-register h3,
    .form-register p {
        text-align: center;
        width: 100%;
        font-size: 15px;
        font-weight: 300;
    }

    .registro,
    .enviar {
        width: 80%;
        font-size: 12px;
        font-weight: 300;
    }

    .cuenta {
        display: none;
    }

}